* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* sideBar */
.aside {
  width: 400px;
  min-width: 250px;
  position: relative;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('./components/money.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* user */
.user {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  border: 1px solid #ebebeb;
}

.user .logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid grey;
}

.user .user-info {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.user .user-info p {
  font-size: 1.1rem;
  font-weight: 500;
}

.user .user-info button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  color: blue;
  font-style: 1rem;
}

.addNewTodo .btn {
  padding: 1rem;
  width: 100%;
  height: 70px;
}

.addNewTodo button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 3px;
  font-style: 1rem;
  background-color: #0000ff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.addNewTodo button:hover {
  filter: opacity(0.75);
  transition: all 300ms ease;
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.8);
  z-index: 2;
}

.modal .container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  background: #fff;
}

/* addNewTodo */
.todoForm {
  padding: 1rem 1rem 0 1rem;
  width: 400px;
  background: #fff;
  border-radius: 5px;
}

.todoForm .text input {
  padding: 1rem;
  width: 100%;
  border: none;
  margin-bottom: .5rem;
  font-size: 1.2rem;
}

.todoForm .text input:focus {
  outline: none;
  border-bottom: 1px solid #0000ff;
}

.todoForm .remind {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.todoForm p {
  margin-left: 3px;
}

.todoForm .title {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.todoForm .pick-day {
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.todoForm .pick-time {
  padding: 1.5rem;
}

.todoForm .pick-project {
  padding: 0.5rem;
  margin-bottom: 3rem;
}

.todoForm .pick-project  .projects {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem 0 1rem;
}

.todoForm .pick-project  .projects .project {
  border: 1px solid #0000ff;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.todoForm .pick-project  .projects .active{
  background: #0000ff;
  color: #fff;
}

.todoForm .cancel {
  position: absolute;
  top: 2px;
  right: 5px;
  cursor: pointer;
}

.todoForm .confirm button {
  width: 100%;
  height: 40px;
  background-color: #0000ff;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
}

/* calendar */
.calendar {
  padding: 1rem;
  border-bottom: 1px solid #ebebeb;
}

.calendar .header {
  display: flex;
  align-items: center;
}

.calendar .header .title {
  display: flex;
  align-items: center;
  flex: 1;
}

.calendar .header .title p {
  margin-left: 5px;
  font-size: 1.1rem;
  font-weight: 500;
}

.calendar .header .btns span {
  border-radius: 50%;
  cursor: pointer;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar .header .btns span:hover {
  background-color: #ebebeb;
  transition: all 0.3s ease-in-out;
}

.calendar .items {
  padding: 0.5rem;
}

.calendar .items .item {
  padding: 0.25rem;
  margin: 5px;
  font-size: 1rem;
  cursor: pointer;
}

/* projects */
.projects {
  padding: 1rem;
  border-bottom: 1px solid #ebebeb;
}

.projects .header {
  display: flex;
  align-items: center;
}

.projects .header .title {
  display: flex;
  align-items: center;
  flex: 1;
}

.projects .header .title p {
  margin-left: 5px;
  font-size: 1.1rem;
  font-weight: 500;
}

.projects .header .btns {
  display: flex;
  align-items: center;
}

.projects .header .btns span {
  border-radius: 50%;
  cursor: pointer;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects .header .btns span:hover {
  background-color: #ebebeb;
  transition: all 0.3s ease-in-out;
}

.projects .header .btns span.edit {
  margin-right: 5px;
}

.projects .items {
  padding: .5rem;
}

/* project */
.project {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  margin: 5px;
  font-size: 1rem;
}

.project .name {
  cursor: pointer;
  word-break: break-all;
}

.project .btns {
  display: flex;
  align-items: center;
}

.project .btns .total-todos {
  position: absolute;
  right: 15px;
  background: #ebebeb;
  width: 25px;
  height: 25px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.project .btns .edit-delete {
  position: absolute;
  right: 15px;
  display: flex;
}

.project .btns .edit-delete span {
  border-radius: 50%;
  cursor: pointer;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
 }

 .project .btns .edit-delete span.edit:hover {
   background: #acffac;
 }
 
 .project .btns .edit-delete span.delete:hover {
   background: #ffacac;
 }

 /* addNewProject */
 .addNewProject {
   margin-right: 5px;
 }

 /* projectForm */
 .projectForm {
   background-color: #fff;
   padding: 1rem;
   border-radius: 5px;
   position: relative;
   padding-bottom: 40px;
 }

 .projectForm input {
   width: 100%;
   height: 40px;
   margin: 15px 0;
   border: none;
   font-size: 1.1rem;
 }

 .projectForm input:focus {
   outline: none;
   border-bottom: 1px solid #0000ff;
 }

 .projectForm button {
   position: absolute;
   bottom: 0;
   height: 40px;
   width: 50%;
   cursor: pointer;
   border: none;
   transition: filter 0.3s ease-in-out;
 }

 .projectForm button:hover {
   filter: opacity(0.8);
 }

 .projectForm button.cancel {
   left: 0;
   background-color: #bebebe;
 }

 .projectForm button.confirm {
   right: 0;
   background-color: #0000ff;
   color: #fff;
   margin-left: -10px;
 }

 .todos {
   width: 450px;
   height: 80%;
   background-color: #fff;
   position: absolute;
   bottom: 40px;
   left: 40px;
   border-radius: 5px;
   opacity: 0.85;
   padding: 0.5rem;
 }

 .todos .selected-project {
   margin: 1rem 0;
   text-transform: capitalize;
   font-size: 1.2rem;
   font-weight: 500;
   padding-bottom: 2px;
   border-bottom: 1px solid #0000ff;
 }

 .todos .todoss {
   overflow-y: auto;
 }

 /* todo */
 .todo {
   padding: 0.5rem 1rem;
 }

 .todo .todo-container {
   display: flex;
   align-items: center;
 }

 .todo .todo-container span {
   cursor: pointer;
 }

 .todo .todo-container .text {
   position: relative;
   flex: 1;
   margin: 0 10px;
   cursor: pointer;
 }

 .todo .todo-container .text span {
   font-size: .8rem;
   color: #bebebe;
 }

 .todo .todo-container .text .line {
   position: absolute;
   top: 25%;
   height: 1px;
   width: 0;
   background: #bebebe;
   transition: width .25s ease-in-out;
 }

 .todo .todo-container .text .line-through {
   width: 100%;
 }

 .todo .todo-container .add-to-next-day {
   margin-right: 10px;
 }

 /* edit todo */
 .editTodo {
   position: absolute;
   bottom: 40px;
   left: calc(40px + 500px + 40px);
   background: #fff;
   height: 80%;
   width: 400px;
   border-radius: 5px;
   opacity: 0.85;
 }

 .editTodo .heading {
   margin: 1rem .5rem;
   font-size: 1.1rem;
   font-weight: 500;
   padding-bottom: 3px;
   border-bottom: 1px solid #0000ff;
 }



